### **Introduction to Programming and Numerical Analysis: Project 1**

# Visualization of the Coronavirus Outbreak over Time

At the moment, the whole world experiences an extraordinary time. At least however, data analysis can be a basic tool in the fight against COVID-19. If we can compare the infection rates as well as the recovering and death rates across countries and time, we might be able to find out which policies are most effective and which are not. Of course, this is so far only out of an descriptive nature without causal statements, however first hints for the spread and trends in the fight against the virus is very useful especially when running out of time.

In [1]:
# We import all the necessary packets at the beginning of our code:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas                     ## install with: conda install geopandas
import descartes                     ## pip install descartes
import datetime
from ipywidgets import interact
from time import gmtime, strftime
import mapclassify                   ## pip install mapclassify
import ipywidgets as widgets

## **Import, merge and cleaning of data set**

### Coronavirus Data

We first import and merge all data concerning the number corona cases, recoveries and deaths, which are three separate sets originally. The data is provied by the Johns Hopkins University Center for Systems Science and Engineering (JHU CSSE) and is freely downloadable on their Github-website: https://github.com/CSSEGISandData/COVID-19. All the time series are updated daily.

In [2]:
# We import the number of corona cases and have a first look at the data:

url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
df_confirmed = pd.read_csv(url, error_bad_lines=False)  

df_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,84,94,110,110,120,170,174,237,273,281
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,146,174,186,197,212,223,243,259,277,304
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,302,367,409,454,511,584,716,847,986,1171
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,188,224,267,308,334,370,376,390,428,439
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,3,4,4,5,7,7,7,8,8,8

In [3]:
# Instead of having each country as one observation (and each day as variable), 
# we want that each country/day combination corresponds to one observation:

confirmed = df_confirmed.melt(id_vars=["Country/Region", "Lat", "Long", "Province/State"], 
        var_name=str("Date"), 
        value_name="Confirmed")

# We also recode the date as a pandas-type day. Furthermore, we check for which period data exists i.e. if it has been updated.

confirmed['Date'] = pd.to_datetime(confirmed['Date'])
start_date =confirmed["Date"].min()
end_date = confirmed["Date"].max()
print('Start of DataFrame: ' + str(start_date))
print('End of DataFrame: ' + str(end_date))

# As a last step, we add a variable that counts the days from the first item.

confirmed['Days'] = (confirmed['Date'] - start_date).dt.days

# Now, our data frame looks like:

confirmed.sort_values(['Country/Region', 'Date'])

Start of DataFrame: 2020-01-22 00:00:00
End of DataFrame: 2020-04-03 00:00:00

      Country/Region   Lat  Long Province/State       Date  Confirmed  Days
0        Afghanistan  33.0  65.0            NaN 2020-01-22          0     0
258      Afghanistan  33.0  65.0            NaN 2020-01-23          0     1
516      Afghanistan  33.0  65.0            NaN 2020-01-24          0     2
774      Afghanistan  33.0  65.0            NaN 2020-01-25          0     3
1032     Afghanistan  33.0  65.0            NaN 2020-01-26          0     4
...              ...   ...   ...            ...        ...        ...   ...
17774       Zimbabwe -20.0  30.0            NaN 2020-03-30          7    68
18032       Zimbabwe -20.0  30.0            NaN 2020-03-31          8    69
18290       Zimbabwe -20.0  30.0            NaN 2020-04-01          8    70
18548       Zimbabwe -20.0  30.0            NaN 2020-04-02          9    71
18806       Zimbabwe -20.0  30.0            NaN 2020-04-03          9    72

[18834 rows x 7 columns]

In [4]:
# We import the number of deaths due to corona. As for the number of cases, we also adjust the data structure:

url2 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
df_death = pd.read_csv(url2, error_bad_lines=False) 
death = df_death.melt(id_vars=["Country/Region", "Lat", "Long", "Province/State"], 
        var_name=str("Date"), 
        value_name="Death")
death.head(-5)

,Country/Region,Lat,Long,Province/State,Date,Death
0,Afghanistan,33.0000,65.0000,NaN,1/22/20,0
1,Albania,41.1533,20.1683,NaN,1/22/20,0
2,Algeria,28.0339,1.6596,NaN,1/22/20,0
3,Andorra,42.5063,1.5218,NaN,1/22/20,0
4,Angola,-11.2027,17.8739,NaN,1/22/20,0
...,...,...,...,...,...,...
18824,Burma,21.9162,95.9560,NaN,4/3/20,1
18825,United Kingdom,18.2206,-63.0686,Anguilla,4/3/20,0
18826,United Kingdom,18.4207,-64.6400,British Virgin Islands,4/3/20,0
18827,United Kingdom,21.6940,-71.7979,Turks and Caicos Islands,4/3/20,0
18828,MS Zaandam,0.0000,0.0000,NaN,4/3/20,2

In [5]:
# We import the number of recoveries of corona. As for the number of cases and deaths due to corona, we also adjust the data structure:

url3 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
df_recovered = pd.read_csv(url3, error_bad_lines=False) 
recovered = df_recovered.melt(id_vars=["Country/Region", "Lat", "Long", "Province/State"], 
        var_name=str("Date"), 
        value_name="Recovered")
recovered.sort_values(['Country/Region', 'Date'])

      Country/Region   Lat  Long Province/State     Date  Recovered
0        Afghanistan  33.0  65.0            NaN  1/22/20          0
244      Afghanistan  33.0  65.0            NaN  1/23/20          0
488      Afghanistan  33.0  65.0            NaN  1/24/20          0
732      Afghanistan  33.0  65.0            NaN  1/25/20          0
976      Afghanistan  33.0  65.0            NaN  1/26/20          0
...              ...   ...   ...            ...      ...        ...
11454       Zimbabwe -20.0  30.0            NaN   3/8/20          0
11698       Zimbabwe -20.0  30.0            NaN   3/9/20          0
17310       Zimbabwe -20.0  30.0            NaN   4/1/20          0
17554       Zimbabwe -20.0  30.0            NaN   4/2/20          0
17798       Zimbabwe -20.0  30.0            NaN   4/3/20          0

[17812 rows x 6 columns]

**NOTE:** The recovered data is quite bad and inconsistent. Hopefully, it will be fixed. But as long as it is not fixed, the recovered cased should not be considered. We still report it, because we hope it will be fixed. (Before the March 23. when we started to code, the data was ok). Just look at the reported cases in Denmark in the table or figures below and you will see that there are some mistakes (which were not there initially).

In [6]:
# After having importet and adjusted all three individual data sets, we are now able to merge them together:

corona = confirmed
corona['Death'] = death['Death']
corona['Recovered'] = recovered['Recovered']
corona.sort_values(['Country/Region', 'Date'])

,Country/Region,Lat,Long,Province/State,Date,Confirmed,Days,Death,Recovered
0,Afghanistan,33.0,65.0,NaN,2020-01-22,0,0,0,0.0
258,Afghanistan,33.0,65.0,NaN,2020-01-23,0,1,0,0.0
516,Afghanistan,33.0,65.0,NaN,2020-01-24,0,2,0,0.0
774,Afghanistan,33.0,65.0,NaN,2020-01-25,0,3,0,0.0
1032,Afghanistan,33.0,65.0,NaN,2020-01-26,0,4,0,1.0
...,...,...,...,...,...,...,...,...,...
17774,Zimbabwe,-20.0,30.0,NaN,2020-03-30,7,68,1,50.0
18032,Zimbabwe,-20.0,30.0,NaN,2020-03-31,8,69,1,NaN
18290,Zimbabwe,-20.0,30.0,NaN,2020-04-01,8,70,1,NaN
18548,Zimbabwe,-20.0,30.0,NaN,2020-04-02,9,71,1,NaN
18806,Zimbabwe,-20.0,30.0,NaN,2020-04-03,9,72,1,NaN

In [7]:
# We observe that recovered has some NaN values and is saved as a float instead as an integer. 
# We change that by the following command:

corona.info()
# fill the Recovered cases with the previous daily case number of the Country/Region (forward filling)
corona['Recovered'] = corona.sort_values(['Country/Region', 'Date']).groupby('Country/Region', as_index=False).Recovered.ffill()
# fill the NaN Recovered cases with zero
corona['Recovered'] = corona.Recovered.fillna(0)
corona = corona.astype({"Recovered": int})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18834 entries, 0 to 18833
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  18834 non-null  object
 1   Lat             18834 non-null  float64
 2   Long            18834 non-null  float64
 3   Province/State  5840 non-null   object
 4   Date            18834 non-null  datetime64[ns]
 5   Confirmed       18834 non-null  int64
 6   Days            18834 non-null  int64
 7   Death           18834 non-null  int64
 8   Recovered       17812 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(2)
memory usage: 1.3+ MB

In [8]:
corona.sort_values(['Country/Region', 'Date'])

,Country/Region,Lat,Long,Province/State,Date,Confirmed,Days,Death,Recovered
0,Afghanistan,33.0,65.0,NaN,2020-01-22,0,0,0,0
258,Afghanistan,33.0,65.0,NaN,2020-01-23,0,1,0,0
516,Afghanistan,33.0,65.0,NaN,2020-01-24,0,2,0,0
774,Afghanistan,33.0,65.0,NaN,2020-01-25,0,3,0,0
1032,Afghanistan,33.0,65.0,NaN,2020-01-26,0,4,0,1
...,...,...,...,...,...,...,...,...,...
17774,Zimbabwe,-20.0,30.0,NaN,2020-03-30,7,68,1,50
18032,Zimbabwe,-20.0,30.0,NaN,2020-03-31,8,69,1,50
18290,Zimbabwe,-20.0,30.0,NaN,2020-04-01,8,70,1,50
18548,Zimbabwe,-20.0,30.0,NaN,2020-04-02,9,71,1,50
18806,Zimbabwe,-20.0,30.0,NaN,2020-04-03,9,72,1,50

<p>         <br>

We import a second data set which contains information about total population. This allows us to present data not only in absolute but also in a relative terms. But more interestingly, it contains geographic information, which allows us to plot a world map.

### Geographic World Data

In [9]:
# We import the second data set: 
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
world.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

In [10]:
world.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pop_est     177 non-null    int64
 1   continent   177 non-null    object
 2   name        177 non-null    object
 3   iso_a3      177 non-null    object
 4   gdp_md_est  177 non-null    float64
 5   geometry    177 non-null    geometry
dtypes: float64(1), geometry(1), int64(1), object(3)
memory usage: 8.4+ KB

In [11]:
# We clean the data for unnecessary observations (only countries with a positive number of population and without Anarctica) 
 
world = world[(world.pop_est>0) & (world.name!="Antarctica")]

# as well as unnecessary variables.

world.drop(['continent','iso_a3', 'gdp_md_est'], axis=1)

,pop_est,name,geometry
0,920938,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Tanzania,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,W. Sahara,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,Canada,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,United States of America,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
...,...,...,...
172,7111024,Serbia,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,642550,Montenegro,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
174,1895250,Kosovo,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,1218208,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,13026129,S. Sudan,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

### Compare Data Sets

In [12]:
# As the corona data frame does not contain the iso_a3 country code, we have to adjust the names in the two different data frames manually. 
# We do that by having first a look at which names are actually different, meaning which are contained in one data set but not in the other:

diff_name = [name for name in world.name.unique() if name not in corona['Country/Region'].unique()] 
print(f'names in world data, but not in corona data: {diff_name}')

names in world data, but not in corona data: ['W. Sahara', 'United States of America', 'Dem. Rep. Congo', 'Dominican Rep.', 'Falkland Is.', 'Greenland', 'Fr. S. Antarctic Lands', 'Lesotho', 'Puerto Rico', "CÃ´te d'Ivoire", 'Central African Rep.', 'Congo', 'Eq. Guinea', 'eSwatini', 'Palestine', 'Vanuatu', 'Myanmar', 'North Korea', 'South Korea', 'Tajikistan', 'Turkmenistan', 'New Caledonia', 'Solomon Is.', 'Taiwan', 'Yemen', 'N. Cyprus', 'Somaliland', 'Bosnia and Herz.', 'Macedonia', 'S. Sudan']

In [13]:
diff_country = [c for c in corona['Country/Region'].unique() if c not in world.name.unique()] 
print(f'names in corona data, but not in world data: {diff_country}')

names in corona data, but not in world data: ['Andorra', 'Antigua and Barbuda', 'Bahrain', 'Barbados', 'Bosnia and Herzegovina', 'Cabo Verde', 'Central African Republic', 'Congo (Brazzaville)', 'Congo (Kinshasa)', "Cote d'Ivoire", 'Diamond Princess', 'Dominican Republic', 'Equatorial Guinea', 'Eswatini', 'Holy See', 'Korea, South', 'Liechtenstein', 'Maldives', 'Malta', 'Mauritius', 'Monaco', 'North Macedonia', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'San Marino', 'Seychelles', 'Singapore', 'Taiwan*', 'US', 'Dominica', 'Grenada', 'West Bank and Gaza', 'Saint Kitts and Nevis', 'Burma', 'MS Zaandam']

In [14]:
# We match the name of the countries in both dataframes now manually. Due to time restrictions, we only match the most interesting countries 
# considering the size and coronavirus cases. 

world.replace('United States of America', 'US', inplace=True)
corona.replace('Korea, South', 'South Korea',inplace=True)
corona.replace('Taiwan*','Taiwan',inplace=True)

## **Output: Table and several graphs**

### Table

We are now able to code tables and graphs. The first one shows a table where one can select the country as well as if the data should be shown in absolute or relative terms:

In [15]:
def table_cases(Country='x', freq='absolute'):
    """ prints a table with the coronavirus cases
    
    Args:
        Country: name of the country
        freq: absolute or relative number of cases
        
    """    
    if (freq == 'absolute'):
        df_country=corona.loc[corona['Country/Region']==Country, ['Confirmed', 'Death', 'Recovered', 'Date']].groupby(['Date']).sum()
        df_country['Confirmed % increase'] = (df_country['Confirmed'].pct_change() * 100)
        df_country['Death % increase'] = (df_country['Death'].pct_change() * 100)
        df_country['Recovered % increase'] = (df_country['Recovered'].pct_change() * 100)
    

        
    elif (freq == 'relative'):
        df_absolute=corona.loc[corona['Country/Region']==Country, ['Confirmed', 'Death', 'Recovered', 'Date']].groupby(['Date']).sum()
        pop = world.loc[world['name']==Country, 'pop_est'].item() *100
        df_country=df_absolute/pop*100
        df_country.columns = ['Confirmed % of Population', 'Death % of Population', 'Recovered % of Population']
    

    df_country.index = df_country.index.date
    df_country.replace(['inf', 'nan'], np.nan, inplace=True)
    df_country.fillna(0,inplace=True)
    
    
    display(df_country.style)
    
widgets.interact(table_cases,
    Country=widgets.Dropdown(options = sorted(corona['Country/Region'].unique()), value='Denmark'),
    freq=widgets.RadioButtons(options=['absolute', 'relative'], description='Frequency:', disabled=False),
);

interactive(children=(Dropdown(description='Country', index=46, options=('Afghanistan', 'Albania', 'Algeria', â€¦

When you look at the recovered cases, you can see the inconsistency of the data.

### Coronavirus Cases over Time

<p>         <br>
Our second ouput is a graph for the illustration of coronoa cases, deaths and recoveries for a selected country over time. In contrast to before, it is also possible to choose rates in addition to the illustration in absolute or relative terms.

In [16]:
def plot_cases(Country='x', freq='absolute'):
    """ prints a plot with the coronavirus cases per country
    
    Args:
        Country: name of the country
        freq: absolute or relative number of cases or rates (fatality / recovery)
        
    """     
    if (freq == 'absolute'):
        df_country=corona.loc[corona['Country/Region']==Country, ['Confirmed', 'Death', 'Recovered', 'Date']].groupby(['Date']).sum()
        
    elif (freq == 'relative'):
        df_absolute=corona.loc[corona['Country/Region']==Country, ['Confirmed', 'Death', 'Recovered', 'Date']].groupby(['Date']).sum()
        pop = world.loc[world['name']==Country, 'pop_est'].item()
        df_country=df_absolute/pop*1000
        df_country.columns = ['Confirmed Cases per 1000', 'Death Cases per 1000', 'Recovered Cases per 1000']
    
    elif (freq == 'rates'):
        df_absolute=corona.loc[corona['Country/Region']==Country, ['Confirmed', 'Death', 'Recovered', 'Date']].groupby(['Date']).sum()
        death = df_absolute['Death']/df_absolute['Confirmed']
        recov = df_absolute['Recovered']/df_absolute['Confirmed']
        d = {'Fatality Rate':death, 'Recovery Rate':recov}
        df_country = pd.DataFrame(data=d)
        
    df_country.plot(figsize  = (20, 10))
    plt.title("Coronavirus Cases over Time", fontsize=20)
    
widgets.interact(plot_cases,
    Country=widgets.Dropdown(options = sorted(corona['Country/Region'].unique()), value='Denmark'),
    freq=widgets.RadioButtons(
    options=['absolute', 'relative', 'rates'], description='Frequency:', disabled=False)
);

interactive(children=(Dropdown(description='Country', index=46, options=('Afghanistan', 'Albania', 'Algeria', â€¦

### Worldwide Coronavirus Cases over Time

<p>         <br>
The next graph is illustrating the same, however for the whole world:

In [17]:
def plot_world_cases(freq='absolute'):
    """ prints a plot with the coronavirus cases worldwide
    
    Args:
    freq: absolute, relative, rates
        
    """    
    if (freq == 'absolute'):
        df_country=corona.loc[:, ['Confirmed', 'Death', 'Recovered', 'Date']].groupby(['Date']).sum()
        
    elif (freq == 'relative'):
        df_absolute=corona.loc[:, ['Confirmed', 'Death', 'Recovered', 'Date']].groupby(['Date']).sum()
        pop = world.loc[:, 'pop_est'].sum().item()
        df_country=df_absolute/pop*1000
        df_country.columns = ['Confirmed Cases per 1000', 'Death Cases per 1000', 'Recovered Cases per 1000']
    
    elif (freq == 'rates'):
        df_absolute=corona.loc[:, ['Confirmed', 'Death', 'Recovered', 'Date']].groupby(['Date']).sum()
        death = df_absolute['Death']/df_absolute['Confirmed']
        recov = df_absolute['Recovered']/df_absolute['Confirmed']
        d = {'Fatality Rate':death, 'Recovery Rate':recov}
        df_country = pd.DataFrame(data=d)
        
    df_country.plot(figsize  = (20, 10))
    plt.title("Worldwide Coronavirus Cases over Time", fontsize=20)
    
widgets.interact(plot_world_cases,
    freq=widgets.RadioButtons(
    options=['absolute', 'relative', 'rates'], description='Frequency:', disabled=False)
);

interactive(children=(RadioButtons(description='Frequency:', options=('absolute', 'relative', 'rates'), value=â€¦

### Comparision of Coronavirus Cases over Time

<p>         <br>
Our fourth ouput illustrates and compares the number of corona cases, deaths or the number of recoveries for three different countries which can freely be chosen:

In [18]:
def plot_compare(CountryX='x', CountryY='y', CountryZ='z', Cases='Confirmed'):
    """ prints a plot with the coronavirus cases for multiple countries
    
    Args:
        CountryX: name of the country X
        CountryY: name of the country Y
        CountryZ: name of the country Y
        Cases: kind of cases displayed: Confirmed, Death, Recovered
        
    """ 
    if (Cases == 'Confirmed'):
        df_X=corona.loc[corona['Country/Region']==CountryX, ['Confirmed', 'Date']].groupby(['Date']).sum()
        df_X.columns = ['Confirmed ' +str(CountryX)]
        df_Y=corona.loc[corona['Country/Region']==CountryY, ['Confirmed', 'Date']].groupby(['Date']).sum()
        df_Y.columns = ['Confirmed ' +str(CountryY)]
        df_Z=corona.loc[corona['Country/Region']==CountryZ, ['Confirmed', 'Date']].groupby(['Date']).sum()
        df_Z.columns = ['Confirmed ' +str(CountryZ)]
        df_country = df_X.join(df_Y).join(df_Z)
        
        
    elif (Cases =='Death'):
        df_X=corona.loc[corona['Country/Region']==CountryX, ['Death', 'Date']].groupby(['Date']).sum()
        df_X.columns = ['Death ' +str(CountryX)]
        df_Y=corona.loc[corona['Country/Region']==CountryY, ['Death', 'Date']].groupby(['Date']).sum()
        df_Y.columns = ['Death ' +str(CountryY)]
        df_Z=corona.loc[corona['Country/Region']==CountryZ, ['Death', 'Date']].groupby(['Date']).sum()
        df_Z.columns = ['Death ' +str(CountryZ)]
        df_country = df_X.join(df_Y).join(df_Z)
       
    
    elif (Cases =='Recovered'):
        df_X=corona.loc[corona['Country/Region']==CountryX, ['Recovered', 'Date']].groupby(['Date']).sum()
        df_X.columns = ['Recovered ' +str(CountryX)]
        df_Y=corona.loc[corona['Country/Region']==CountryY, ['Recovered', 'Date']].groupby(['Date']).sum()
        df_Y.columns = ['Recovered ' +str(CountryY)]
        df_Z=corona.loc[corona['Country/Region']==CountryZ, ['Recovered', 'Date']].groupby(['Date']).sum()
        df_Z.columns = ['Recovered ' +str(CountryZ)]
        df_country = df_X.join(df_Y).join(df_Z)
        
        
    df_country.plot(figsize  = (20, 10))
    plt.title("Comparision of Coronavirus Cases over Time", fontsize=20)
    
widgets.interact(plot_compare,
    CountryX=widgets.Dropdown(options = sorted(corona['Country/Region'].unique()), value='Denmark'),
    CountryY=widgets.Dropdown(options = sorted(corona['Country/Region'].unique()), value='China'),
    CountryZ=widgets.Dropdown(options = sorted(corona['Country/Region'].unique()), value='Switzerland'),
    Cases=widgets.RadioButtons(
    options=['Confirmed','Death','Recovered'], description='Cases:', disabled=False)            
);

interactive(children=(Dropdown(description='CountryX', index=46, options=('Afghanistan', 'Albania', 'Algeria',â€¦

### Comparision of Coronavirus Outbreak

<p>         <br>
The next plot may be the most interesting one. It allows to compare the developments in countries from the outbreak day on, which is defined as the day when the number of corona cases passes a certain level (which can be specified):

In [19]:
def plot_compare_outbreak(CountryX='x', CountryY='y', CountryZ='z', Cases='Confirmed', threshold=10, freq='absolute'):
    """ prints a plot which compares the evolution of the coronavirus cases between countries when a certain threshold is surpassed
    
    Args:
        CountryX: name of the country X
        CountryY: name of the country Y
        CountryZ: name of the country Z
        Cases: kind of cases displayed: Confirmed, Death, Recovered
        threshold: number of cases that must be confirmed at which the date is set to zero
        
    """  
    # for country X
    df_X=corona.loc[corona['Country/Region']==CountryX, ['Confirmed', 'Death', 'Recovered', 'Date']].groupby(['Date']).sum()
    df_X.columns = ['Confirmed ' +str(CountryX), 'Death ' +str(CountryX), 'Recovered ' +str(CountryX)]

    df_X['Date'] = pd.to_datetime(df_X.index.date)
    df_X.loc[df_X['Confirmed ' +str(CountryX)] >= threshold, 'Outbreak'] = df_X['Date']
    df_X['Outbreak'].fillna((df_X['Outbreak'].min()), inplace=True)
    df_X['Outbreak Date'] = df_X['Outbreak'].min()
    df_X['Outbreak Days'] = (df_X['Date'] - df_X['Outbreak Date']).dt.days 
 
    # for country Y
    df_Y=corona.loc[corona['Country/Region']==CountryY, ['Confirmed', 'Death', 'Recovered', 'Date']].groupby(['Date']).sum()
    df_Y.columns = ['Confirmed ' +str(CountryY), 'Death ' +str(CountryY), 'Recovered ' +str(CountryY)]

    df_Y['Date'] = pd.to_datetime(df_Y.index.date)
    df_Y.loc[df_Y['Confirmed ' +str(CountryY)] >= threshold, 'Outbreak'] = df_Y['Date']
    df_Y['Outbreak'].fillna((df_Y['Outbreak'].min()), inplace=True)
    df_Y['Outbreak Date'] = df_Y['Outbreak'].min()
    df_Y['Outbreak Days'] = (df_Y['Date'] - df_Y['Outbreak Date']).dt.days  
    
    # for country Z
    df_Z=corona.loc[corona['Country/Region']==CountryZ, ['Confirmed', 'Death', 'Recovered', 'Date']].groupby(['Date']).sum()
    df_Z.columns = ['Confirmed ' +str(CountryZ), 'Death ' +str(CountryZ), 'Recovered ' +str(CountryZ)]

    df_Z['Date'] = pd.to_datetime(df_Z.index.date)
    df_Z.loc[df_Z['Confirmed ' +str(CountryZ)] >= threshold, 'Outbreak'] = df_Y['Date']
    df_Z['Outbreak'].fillna((df_Z['Outbreak'].min()), inplace=True)
    df_Z['Outbreak Date'] = df_Z['Outbreak'].min()
    df_Z['Outbreak Days'] = (df_Z['Date'] - df_Z['Outbreak Date']).dt.days 
    
    f = plt.figure(figsize=(20,10))
    ax = f.add_subplot(1,1,1)
    
    if (freq == 'absolute'):
    
        if (Cases == 'Confirmed'):
            ax.plot(df_X['Outbreak Days'], df_X['Confirmed ' +str(CountryX)], label='Confirmed ' +str(CountryX))  
            ax.plot(df_Y['Outbreak Days'], df_Y['Confirmed ' +str(CountryY)], label='Confirmed ' +str(CountryY))
            ax.plot(df_Z['Outbreak Days'], df_Z['Confirmed ' +str(CountryZ)], label='Confirmed ' +str(CountryZ))

        
        elif (Cases =='Death'):
            ax = plt.subplot(1, 1, 1)
            ax.plot(df_X['Outbreak Days'], df_X['Death ' +str(CountryX)], label='Death ' +str(CountryX))  
            ax.plot(df_Y['Outbreak Days'], df_Y['Death ' +str(CountryY)], label='Death ' +str(CountryY))
            ax.plot(df_Z['Outbreak Days'], df_Z['Death ' +str(CountryZ)], label='Death ' +str(CountryZ))
    
        elif (Cases =='Recovered'):
            ax = plt.subplot(1, 1, 1)
            ax.plot(df_X['Outbreak Days'], df_X['Recovered ' +str(CountryX)], label='Recovered ' +str(CountryX))  
            ax.plot(df_Y['Outbreak Days'], df_Y['Recovered ' +str(CountryY)], label='Recovered ' +str(CountryY))
            ax.plot(df_Z['Outbreak Days'], df_Z['Recovered ' +str(CountryZ)], label='Recovered ' +str(CountryZ))
    
    elif (freq == 'relative'):
    
        popX = world.loc[world['name']==CountryX, 'pop_est'].item()
        popY = world.loc[world['name']==CountryY, 'pop_est'].item()
        popZ = world.loc[world['name']==CountryZ, 'pop_est'].item()
            
        if (Cases == 'Confirmed'):
            ax.plot(df_X['Outbreak Days'], df_X['Confirmed ' +str(CountryX)]/popX, label='Confirmed ' +str(CountryX))  
            ax.plot(df_Y['Outbreak Days'], df_Y['Confirmed ' +str(CountryY)]/popY, label='Confirmed ' +str(CountryY))
            ax.plot(df_Z['Outbreak Days'], df_Z['Confirmed ' +str(CountryZ)]/popZ, label='Confirmed ' +str(CountryZ))

        
        elif (Cases =='Death'):
            ax = plt.subplot(1, 1, 1)
            ax.plot(df_X['Outbreak Days'], df_X['Death ' +str(CountryX)]/popX, label='Death ' +str(CountryX))  
            ax.plot(df_Y['Outbreak Days'], df_Y['Death ' +str(CountryY)]/popY, label='Death ' +str(CountryY))
            ax.plot(df_Z['Outbreak Days'], df_Z['Death ' +str(CountryZ)]/popZ, label='Death ' +str(CountryZ))
    
        elif (Cases =='Recovered'):
            ax = plt.subplot(1, 1, 1)
            ax.plot(df_X['Outbreak Days'], df_X['Recovered ' +str(CountryX)]/popX, label='Recovered ' +str(CountryX))  
            ax.plot(df_Y['Outbreak Days'], df_Y['Recovered ' +str(CountryY)]/popY, label='Recovered ' +str(CountryY))
            ax.plot(df_Z['Outbreak Days'], df_Z['Recovered ' +str(CountryZ)]/popZ, label='Recovered ' +str(CountryZ))
        
        
    #df_country.plot(figsize  = (20, 10))
    ax.set_xlim(left=0)
    ax.legend(loc='lower right')
    text = ' Outbreak Date'
    text += f'\n'
    text +='at which threshold surpassed:'
    text += f'\n'
    text += f'\n'
    text += str(CountryX) +':' + str(df_X['Outbreak Date'].min().date()) 
    text += f'\n'
    text +=str(CountryY) +':' + str(df_Y['Outbreak Date'].min().date())
    text += f'\n'
    text +=str(CountryZ) +':' + str(df_Z['Outbreak Date'].min().date())
    ax.text(0.1, 0.9,text, c='black', bbox=dict(facecolor='none', edgecolor='black'),horizontalalignment='center',verticalalignment='center',transform = ax.transAxes)
    plt.title("Comparision of Coronavirus Outbreak", fontsize=20) 
    plt.xlabel("Days since threshold surpassed")
    
style = {'description_width': 'initial'}
widgets.interact(plot_compare_outbreak,
    CountryX=widgets.Dropdown(options = sorted(corona['Country/Region'].unique()), value='US'),
    CountryY=widgets.Dropdown(options = sorted(corona['Country/Region'].unique()), value='Italy'),
    CountryZ=widgets.Dropdown(options = sorted(corona['Country/Region'].unique()), value='South Korea'),
    Cases=widgets.RadioButtons(options=['Confirmed','Death','Recovered'], description='Cases:', disabled=False),
    threshold=widgets.IntSlider(value=10, min=10,max=100, step=2, style=style, description='Confirmed Cases Threshold :'),
    freq=widgets.RadioButtons(options=['absolute', 'relative'], description='Frequency:', disabled=False)
);

interactive(children=(Dropdown(description='CountryX', index=169, options=('Afghanistan', 'Albania', 'Algeria'â€¦

### World Map: Coronavirus Cases Development

<p>         <br>
Our next plot is a world map that shows the developement of the spread. In addition to that, additional information for a chosen country is shown in a information box.

In [20]:
def world_map_plot_info(Country='x', day=1):
    """ prints a world map which shows the evolution of the coronavirus cases, includes information about a country
    Args:
        Country: country name for which information are displayed
        day: Date of the map 
    
    """
    fig, ax = plt.subplots(figsize  = (20, 10))
    # filter dataframe
    corona_day = corona[corona['Days']==day]
    today = corona[corona['Days']==day]['Date'].iloc[0].date()
    
    # plot
    world.plot(alpha = 1, color="lightgrey",edgecolor = "black",ax=ax)
    plt.scatter(x=corona_day['Long'], y=corona_day['Lat'], alpha=0.4, s=corona_day['Confirmed']**0.8, c='y', label='Confirmed')
    plt.scatter(x=corona_day['Long'], y=corona_day['Lat'], alpha=0.6, s=corona_day['Death']**0.8, c='r',label='Deaths')
    #plt.scatter(x=corona_day['Long'], y=corona_day['Lat'], alpha=0.5, s=corona_day['Recovered']**0.8, c='g', label='Recovered') 
    
    
    ax.set_title("Coronavirus Cases Development", fontsize=30)
    ax.set_axis_off()
    plt.axis('equal')
    leg = ax.legend(loc='lower center', title='Cases',fontsize='x-large')
    for handle in leg.legendHandles:
        handle.set_sizes([20.0])
    plt.setp(leg.get_title(),fontsize='x-large')
    
    corona_country=corona.loc[corona['Country/Region']==Country].loc[corona['Days']==day].loc[:,['Confirmed', 'Death', 'Recovered', 'Date']].groupby(['Date']).sum()  
    
    Conf = corona_country['Confirmed'].item()
    Death = corona_country['Death'].item()
    Recovered = corona_country['Recovered'].item()
    
    text = 'Date: ' + str(today)
    text += f'\n'
    text += str(Country) +' Cases:' 
    text += f'\n'
    text +='Confirmed: ' +str(Conf)
    text += f'\n'
    text +='Death: ' +str(Death)
    text += f'\n'
    text +='Recovered: ' +str(Recovered)
    plt.text(-170, 90, text, fontsize='large', c='black', bbox=dict(facecolor='none', edgecolor='black'))
    
max_date = corona['Days'].max()    
widgets.interact(world_map_plot_info,
    Country=widgets.Dropdown(options = sorted(corona['Country/Region'].unique()), value='Denmark'),
    day=widgets.FloatSlider(description="Days since the January 22", style=style, min=0, max=max_date, step=1),
);

interactive(children=(Dropdown(description='Country', index=46, options=('Afghanistan', 'Albania', 'Algeria', â€¦

<p>         <br>
In our date used until now the cases for most countries are aggregated on the country level. For example for the US, there exists only one point. The Johns Hopkins University also provides local data for the US. In the next part we add this data, so we can get a nicer map for the USA.

#### Read and Clean: US local-level Data

We first add the confirmed cases on the local level for the US using the same code as above:

In [21]:
url_us1 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
df_us_confirmed = pd.read_csv(url_us1, error_bad_lines=False) 
df_us_confirmed.rename(columns={"Province_State": "Province/State", "Long_" : "Long", "Country_Region" : "Country/Region"}, inplace=True)
df_us_confirmed.drop(columns=['UID','iso2','iso3','code3','FIPS','Admin2','Combined_Key'], inplace=True)

In [22]:
us_confirmed = df_us_confirmed.melt(id_vars=["Country/Region", "Lat", "Long", "Province/State"], 
        var_name=str("Date"), 
        value_name="Confirmed")

us_confirmed['Date'] = pd.to_datetime(us_confirmed['Date'])
us_confirmed['Days'] = (us_confirmed['Date'] - start_date).dt.days
us_confirmed.sort_values(['Country/Region', 'Date'])

,Country/Region,Lat,Long,Province/State,Date,Confirmed,Days
0,US,-14.2710,-170.1320,American Samoa,2020-01-22,0,0
1,US,13.4443,144.7937,Guam,2020-01-22,0,0
2,US,15.0979,145.6739,Northern Mariana Islands,2020-01-22,0,0
3,US,18.2208,-66.5901,Puerto Rico,2020-01-22,0,0
4,US,18.3358,-64.8963,Virgin Islands,2020-01-22,0,0
...,...,...,...,...,...,...,...
237464,US,0.0000,0.0000,Washington,2020-04-03,501,72
237465,US,0.0000,0.0000,West Virginia,2020-04-03,0,72
237466,US,0.0000,0.0000,Wisconsin,2020-04-03,0,72
237467,US,0.0000,0.0000,Wyoming,2020-04-03,0,72
237468,US,0.0000,0.0000,Grand Princess,2020-04-03,103,72

Then we add the dead cases (there is no recovered data available):

In [23]:
url_us2 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv'
df_us_death = pd.read_csv(url_us2, error_bad_lines=False) 
df_us_death.rename(columns={"Province_State": "Province/State", "Long_" : "Long", "Country_Region" : "Country/Region"}, inplace=True)
df_us_death.drop(columns=['UID','iso2','iso3','code3','FIPS','Admin2','Combined_Key'], inplace=True)

In [24]:
us_death = df_us_death.melt(id_vars=["Country/Region", "Lat", "Long", "Province/State"], 
        var_name=str("Date"), 
        value_name="Death")
us_corona = us_confirmed
us_corona['Death'] = us_death['Death']
# there are some death outliers at the starting date 22. January
us_corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237469 entries, 0 to 237468
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country/Region  237469 non-null  object
 1   Lat             237469 non-null  float64
 2   Long            237469 non-null  float64
 3   Province/State  237469 non-null  object
 4   Date            237469 non-null  datetime64[ns]
 5   Confirmed       237469 non-null  int64
 6   Days            237469 non-null  int64
 7   Death           237469 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 14.5+ MB

We drop the US country-level rows from the corona-dataframe constructed before and replace it with the US local-level data:

In [25]:
corona_us = corona[corona['Country/Region'] != 'US']

corona = pd.concat([corona_us, us_corona], axis=0, ignore_index=True)
corona.sort_values(['Country/Region', 'Date'])

,Country/Region,Lat,Long,Province/State,Date,Confirmed,Days,Death,Recovered
0,Afghanistan,33.0,65.0,NaN,2020-01-22,0,0,0,0.0
257,Afghanistan,33.0,65.0,NaN,2020-01-23,0,1,0,0.0
514,Afghanistan,33.0,65.0,NaN,2020-01-24,0,2,0,0.0
771,Afghanistan,33.0,65.0,NaN,2020-01-25,0,3,0,0.0
1028,Afghanistan,33.0,65.0,NaN,2020-01-26,0,4,0,1.0
...,...,...,...,...,...,...,...,...,...
17705,Zimbabwe,-20.0,30.0,NaN,2020-03-30,7,68,1,50.0
17962,Zimbabwe,-20.0,30.0,NaN,2020-03-31,8,69,1,50.0
18219,Zimbabwe,-20.0,30.0,NaN,2020-04-01,8,70,1,50.0
18476,Zimbabwe,-20.0,30.0,NaN,2020-04-02,9,71,1,50.0
18733,Zimbabwe,-20.0,30.0,NaN,2020-04-03,9,72,1,50.0

### World Map: Coronavirus Cases Development 2

Then we use the same function as above and plot the map again. But this time, we see many different outbreak points in the US. This is also the only difference to the plot before.

In [26]:
widgets.interact(world_map_plot_info,
    Country=widgets.Dropdown(options = sorted(corona['Country/Region'].unique()), value='US'),
    day=widgets.FloatSlider(description="Days since the January 22", style=style, min=1, max=max_date, step=1),
);

interactive(children=(Dropdown(description='Country', index=169, options=('Afghanistan', 'Albania', 'Algeria',â€¦

## Conclusion

In this project with have imported, cleaned and merged time series about the coronavirus cases from the Johns Hopkins University. Additionally, we loaded the world dataset provided by geopandas. We then visualized the coronavirus outbreak using figures from newspaper as inspiration.